<div class=" col-md-offset-3 col-md-6 nopadding auth">
	<h1>Авторизация</h1>
	
	<!-- ОПИСАНИЕ НАПРАВЛЕНИЙ -->
	<div class="row">
		<form action="">
			<input type="text" class="btn btn-thin btn-ghost btn-input" placeholder="логин" ng-model="login" ng-class="text">
			<input type="password" class="btn btn-thin btn-ghost btn-input" placeholder="пароль" ng-model="password" ng-class="text">
			<buton type="button" class="btn btn-bold btn-ghost" ng-click="signIn()">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</buton>
		</form>
	</div>
</div>